<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.admin.post.index') ? 'active' }} " href="{{ path('blog.admin.post.index') }}">Articles</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.admin.category.index') ? 'active' }}" href="{{ path('blog.admin.category.index') }}">Catégories</a>
</li>